.form {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* background-color: black; */
  margin: 0;
}

.main {
  width: 100%;
  max-width: 400px;
  max-height: 80vh; /* Set the maximum height for the div */
  overflow-y: auto;
  margin: 0;
  text-align: center;
  background-color: red;
}

.main p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 19px;
}

.main h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.inputRow {
  display: flex;
  gap: 20px;
}

.inputGroup.halfWidth {
  flex: 1;
  margin-right: 10px;
}

.inputGroup {
  margin-bottom: 15px;
  text-align: left;
}

.halfWidth {
  flex: 1;
}

.inputGroup label {
  font-size: 1rem;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

.inputGroup input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputGroup input:focus {
  border-color: #0067ff;
  box-shadow: 0 0 6px rgba(0, 103, 255, 0.5);
}

.submitButton {
  width: 45%;
  height: auto;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  /* background-color: #333; */
  height: 100vh;
  justify-content: space-around;
  padding: 0;
  overflow: hidden;
  flex-direction: row;
  gap: 5px;
}
.scrollablediv {
  /*   background: gray; */
  width: 100%;
  max-height: 80vh;
  overflow: auto;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}
