.sidePanel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 35px;
}

.sideButton1 {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #0067ff;
}

.sideButton2,
.sideButton3,
.sideButton4,
.sideButton5,
.sideButton6 {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #efefef;
}
