/* Popup classes */
.formContainer {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 1100px;
  max-width: 1100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  position: relative;
  height: 95vh;
  max-height: 95vh;
  overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.subhead {
  font-size: 18px;
  color: #4E4E4E;
  font-weight: 300;
  margin-bottom: 10px;
}

.subHeading {
  margin: 20px 10px 20px auto;
  font-size: 14px;
}


.popupBottom {
  max-height: 72vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-right: 20px;
  padding-bottom: 20px;
}

.icons {
  font-size: 18px;
  margin-right: 10px;
}

.key {
  color: #4E4E4E;
  font-size: 16px;
  margin-right: 10px;
}

.statusValue {
  color: #FFB031;
}

.locationValue {
  color: #000;
  font-weight: 600;
  margin-right: 35px;
}

.formSection {
  margin: 25px 0;
}

.formGroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-left: 26px;
}

.formGroup label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 25px 0 20px 0;
}

.confirmButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.cancelButton:hover {
  background-color: #bd2c3a;;
}

.addButton {
  padding: 8px 16px;
  background-color:#007bff ;
  color: white;
  border: none;
  border-radius: 15px; 
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.addButton:hover {
background-color: #0056b3;
}

.additionalNotes {
  margin-left: 26px;
}