.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pageTop {
  padding-left: 0;
}

.pageTop h1 {
  padding-top: 20px;
  padding-left: 40px;
  font-size: 50px;
}

.pageTop p {
  font-size: 18px;
  color: #555;
  padding-left: 40px;
}

.mainContent {
  display: flex;
  flex: 1;
  padding-top: 30px;
}

.appointmentsContainer {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filterTabs {
  display: flex;
  gap: 10px;
}

.filterButton {
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  /* border-radius: 4px; */
  color: #555;
}

.filterButton:hover {
  background-color: #e0e0e0;
}

.statusSummary {
  display: flex;
  font-size: 14px;
  color: #555;
  padding-left: 10px;
  align-items: center;
}

.addButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #0056b3;
}

.tableContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bulkAction {
  display: flex;
  justify-content: space-between;
}

.bulkAction {
  width: 200px;
}

.headingBox {
  display: flex;
  gap: 15px;
}

.sortBy,
.search {
  width: 200px;
}

.bulkAction,
.sortBy,
.search {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 15px;
  text-align: left;
}
/* 
.table th {
  background-color: #f4f4f4;
} */

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table tr:hover:not(.noHover) {
  background-color: #f1f1f1;
}

/* Prevent hover effect for the first row */
.noHover:hover {
  background-color: transparent !important;
}

/* Increase space for the phone column */
.phoneColumn {
  width: 150px; /* Adjust this value as needed */
  word-wrap: break-word;
}

/* ---------- Status Styles ---------- */

.consulted {
  color: green;
}

.cancelled {
  color: red;
}

.scheduled {
  color: orange;
}

.inProgress {
  color: #007bff;
}



.dropdownButton {
  display: block;
  width: 100%;
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: grey;
  transition: background 0.2s, color 0.2s;
}

.dropdownButton:hover {
  background-color: #0067ff;
  color: white;
}
