.pageContainer {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}




.pageTop {
  display: flex;
  flex-direction: column;
}

.pageTop h1 {
  padding-left: 180px;
  padding-top: 20px;
  font-size: 40px;
}

.pageTop p {
  padding-left: 180px;
  padding-top: 2px;
  font-size: 20px;
  color: #555;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 20%;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.content {
  width: 80%;
  padding: 20px;
}

.formContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.qrButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

 h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
} 

.formSection {
  margin-bottom: 30px;
  padding: 10px;
}

.formSection h3,
.header h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-left: 20px;  /* Make space for the bullet point */
}

.formSection h3::before,
.header h3::before {
  content: "•";
  color: #0067FF;
  position: absolute;
  left: 0;
  font-size: 24px;  /* Make the bullet point slightly larger */
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}

.formGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

label {
  font-weight: bold;
}


.commentLabel {
  margin-top: 20px;
  display: block; /* Ensure it's a block element if you need vertical spacing */
}


input,
select,
textarea {
  width: 100%;
  border:none;
  /* border-radius: 5px; */
  background: transparent;
  border-bottom: 2px solid #0067FF;
}

input, select {
  padding: 15px;
}

textarea {
  resize: none;
  height: 80px;
  border-bottom: 2px solid #0067FF;
}

.actions {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.confirmButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
