.pageContainer {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.pageTop {
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.content {
  width: 80%;
  padding: 20px;
}

.formContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.qrButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

/* h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
} */

.formSection {
  margin-bottom: 30px;
}

.formGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

textarea {
  resize: none;
  height: 80px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.confirmButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
