.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures modal is above blurred background */
}

.modalContent {
  background-color: #fff;
  padding: 32px 40px;
  border-radius: 8px;
  width: 60%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Ensures modal content is not affected by blur */
  overflow-y: auto; /* Make modal content scrollable */
  max-height: 90vh; /* Limit the height of the modal */
}

.modalContent h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.modalContent p {
  font-size: 18px;
  color: #312f2f;
  margin-bottom: 20px;
  line-height: 1.5;
}

.guideSection {
  margin-bottom: 20px;
}

.guideSection h4 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
  justify-content: center;
}

.imageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.imageRow img {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.uploadButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  width: 100%;
  max-width: 300px;
}

.uploadButton:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #0056b3;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .modalContent {
    width: 90%;
    max-width: none;
  }

  .imageRow img {
    width: 100%;
  }

  .uploadButton {
    width: 100%;
  }
}
