/* Importing Google Fonts with specific styles and weights for DM Sans and Poppins */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Resetting all default margins and paddings for every element */
* {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width/height */
}

/* Setting the font family for the entire document */
body {
  font-family: "DM Sans", sans-serif; /* Uses DM Sans as the primary font */
}

.app {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar-open {
  margin-left: 22%; /* Width of the open sidebar */
}

.sidebar-closed {
  margin-left: 0; /* No sidebar */
}
