.formContainer {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 1100px;
  max-width: 1100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 95vh;
  max-height: 95vh;
  overflow-y: hidden;
  top: -2%;
  margin-top: -2%;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.titleSection h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 5px 0;
  color: #333;
}

.titleSection p {
  margin: 0;
  font-size: 16px;
  color: #666;
}


.popupBottom {
  max-height: 72vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-right: 20px;
  margin-left: 20px;
}

.formSection {
  display: block;
  margin: 30px 0 30px 0;
}

.formSection h3 i {
  color: #007bff;
  margin-right: 10px;
}

.formGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-left: 26px;
  row-gap: 10px;
}

.newFormGroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  /* gap: 10px; */
  margin-left: 26px;
  row-gap: 10px;
}

.documentFormGroup div {
  margin-left: 26px;
}

.subHeading {
  margin: 10px 10px 20px auto;
  display: inline-block;
  width: 70%;
  font-weight: 500;
}

.newSubHeading {
  margin: 20px 20px 10px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
}

.key, .statusValue, locationValue {
  color: #4E4E4E;
  font-size: 16px;
  margin-right: 10px;
}

.secKey {
  margin-left: 15%;
}

.locationValue {
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.resolved {
  color: green;
}

.inProgress {
  color: #007bff;
}

.pending {
  color: orange;
}

.verificationConfirmation {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.verificationConfirmation input[type="checkbox"] {
  position: absolute;
}

.verificationConfirmation span {
  margin-left: 30px;
}

hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin: 15px 0;
}

select, textarea {
  outline: none;
  padding-left: 0;
}

textarea {
  margin-top: 10px;
  height: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0;
  min-height: 30px;
  font-family: inherit;
  font-size: 16px;
  margin-left: 26px;
  scrollbar-width: none;
}

textarea::placeholder {
  font-size: 14px;
}

.feedbackLabel {
  margin: 40px 0 10px -66%;
}


/* Buttons */

/* Action buttons for the form */
.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.addButton {
  display: block;
  padding: 8px 30px;
  background-color:#007bff ;
  color: white;
  border: none;
  border-radius: 15px; 
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.1s;
}

.addButton:hover {
  background-color: #0056b3;
}

.cancelButton {
  background-color: #dc3545;
  padding: 8px 30px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.1s;
}

.cancelButton:hover {
  background-color: #b12937;
}

.additionalNotes {
  margin-top: 18px;
}

.phoneField {
  margin-top: 6px;
}