/* Popup.module.css */
.popup {
    position: fixed;
    /* background-color: red; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(10px); /* Apply blur to the content behind the popup */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.popup-inner {
    position: relative;
    padding: 45px;
    width: 50%;
    max-width: 640px;
    max-height: 80vh; /* Prevent the popup from growing too large */
    background-color: #fff;
    overflow-y: auto; /* Enables scrolling when content exceeds max-height */
    overflow-x: hidden; /* Prevents horizontal scroll */
    z-index: 10000; /* Ensure popup content is above the blurred background */
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
    border-radius: 70px;

    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #0067FF #F0F0F0; /* Scrollbar color for Firefox */
}

.test {
    position: relative;
}


.closeBtn {
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
    background: transparent;
    color: #4E4E4E;
    font-size: 40px;
    z-index: 200;
}

.closeBtn i {
    font-size: 28px;
}
